.courseTitle h5{
    text-align: center;
    padding: 50px 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #121212;
}

.courseTitle h5 span{
    margin-left: 10px;
}

.courseTitle .svg-inline--fa{
    color: #f6ba35;
}

.khoaHocDanhMuc{
    padding-bottom: 50px;
}